In [8]:
import pandas as pd
from sodapy import Socrata
pathCard = "/Users/wendellliu/Downloads/Fare_Card_History_for_Metropolitan_Transportation_Authority__MTA___Beginning_2010.csv"
pathMTA = "/Users/wendellliu/Downloads/MTA_Subway_Hourly_Ridership__Beginning_February_2022.csv"
dfMTA = pd.read_csv(pathMTA)

In [9]:
from datetime import datetime
# import requests
pathWeather = "/Users/wendellliu/Downloads/weather.csv"
df_w = pd.read_csv(pathWeather)
flag = 0
dfMTA['weather'] = "null"
for index, row in dfMTA.iterrows():
    date_str = row['transit_timestamp']
    stamp = datetime.strptime(date_str, '%m/%d/%Y %I:%M:%S %p').timestamp()
    weather_data_series = df_w[df_w['dt'] == stamp]['weather_main']
    
    # Check if we got any matching weather data, if so, assign the first value.
    if not weather_data_series.empty:
        dfMTA.at[index, 'weather'] = weather_data_series.iloc[0]

    flag += 1
    if flag % 500000 == 0:
        print(flag, dfMTA.at[index, 'weather'])

dfMTA.to_csv('/Users/wendellliu/Code/Python/MTA.csv', index=False)
dfMTA.head(2)

500000 Rain
1000000 Rain
1500000 Clouds
2000000 Clear
2500000 Clear
3000000 Rain
3500000 Rain
4000000 Clouds
4500000 Rain
5000000 Clear
5500000 Clear
6000000 Mist
6500000 Rain
7000000 Clear
7500000 Clear
8000000 Clear
8500000 Clear
9000000 Rain
9500000 Clear
10000000 Clouds
10500000 Clouds
11000000 Clouds
11500000 Clouds

,transit_timestamp,station_complex_id,station_complex,borough,routes,payment_method,ridership,transfers,latitude,longitude,Georeference,itsuid,weather
0,08/04/2022 04:00:00 AM,H007,1 Av (L),M,L,omny,11,0,40.730953,-73.981628,POINT (-73.98162841796875 40.730953216552734),2022-08-04T04:00:00H0071 Av (L)MLomny,Clouds
1,02/13/2023 03:00:00 AM,H007,1 Av (L),M,L,omny,10,0,40.730953,-73.981628,POINT (-73.98162841796875 40.730953216552734),2023-02-13T03:00:00H0071 Av (L)MLomny,Rain

In [10]:
df = pd.read_csv("/Users/wendellliu/Code/Python/MTA.csv")
df.head(2)

,transit_timestamp,station_complex_id,station_complex,borough,routes,payment_method,ridership,transfers,latitude,longitude,Georeference,itsuid,weather
0,08/04/2022 04:00:00 AM,H007,1 Av (L),M,L,omny,11,0,40.730953,-73.981628,POINT (-73.98162841796875 40.730953216552734),2022-08-04T04:00:00H0071 Av (L)MLomny,Clouds
1,02/13/2023 03:00:00 AM,H007,1 Av (L),M,L,omny,10,0,40.730953,-73.981628,POINT (-73.98162841796875 40.730953216552734),2023-02-13T03:00:00H0071 Av (L)MLomny,Rain